* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

/*HEADER STYLE*/

header {
    background-color: #1886fc;
    color: #fff;
    padding: 8px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/*SECTION ABOUT STYLE*/

#sobre-loja .container {
    padding: 26px 0;
    width: 100%;
}

#sobre-loja p {
    padding-left: 26px;
}

section .container {
    align-items: flex-start;
}

h1 {
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-weight: bold;
    font-style: italic;
    color: #1886fc;
    font-size: 18px;
    border-bottom: 3px solid #1886fc;
    padding-bottom: 8px;
    margin-bottom: 18px;
}

#sobre-loja h2 {
    margin-left: 26px;
}

/*SECTION PRODUCTS STYLE*/

#produtos .container {
    display: block;
    width: 100%;
}

#produtos ul {
    display: flex;
    list-style: none;
}

#produtos li {
    padding: 8px;
}

#produtos ul li img {
    width: 100%;
}

ul li button {
    background-color: #1886fc;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

p {
    font-size: 15px;
}