* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

/*HEADER STYLE*/

header {
    background-color: #1886fc;
    color: #fff;
    padding: 8px;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/*SECTION ABOUT STYLE*/

#sobre-loja .container {
    display: flex;
    padding: 26px 0;
    width: 100%;
}

#sobre-loja p {
    padding-left: 26px;
}

section .container {
    align-items: flex-start;
}

h1 {
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-weight: bold;
    font-style: italic;
    color: #1886fc;
    font-size: 18px;
    border-bottom: 3px solid #1886fc;
    padding-bottom: 8px;
    margin-bottom: 18px;
}

#sobre-loja h2 {
    margin-left: 26px;
}

/*SECTION PRODUCTS STYLE*/

#produtos .container {
    width: 100%;
    display: block;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

#produtos ul {
    display: flex;
    list-style: none;
}

#produtos li {
    padding: 8px;
}

.produto img {
    width: 100%;
}

li button {
    background-color: #1886fc;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

p {
    font-size: 15px;
}

.produtos p {
    max-width: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 640px) {
    section .container {
        display: block;
    }

    #sobre-loja .container {
        display: block;
    }

    #sobre-loja .container div {
        display: flex;
        justify-content: center;
    }

    #sobre-loja h2 {
        padding-top: 16px;
        margin-right: 26px;
    }

    #sobre-loja p {
        padding-right: 26px;
    }

    /*não tá funcionando*/

    .produtos {
        display: block;
    }

    #produtos {
        display: block;
    }

    #produtos .container {
        display: block;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {

}